<div class="page-header">
  <h1>These are all of my photos <small>Enjoy!</small></h1>
</div>
<table class="table">
 <thead> 
   <tr> 
 	<th>Image #</th>
 	<th>Description</th>
 	<th>Cuteness Level</th>
 </tr>
</thead>
<tbody>
  <tr>
  	<td>1</td>
  	<td>Jumping Kitty</td>
  	<td>Pretty Cute</td>
  </tr>
   <tr>
  	<td>2</td>
  	<td>Sassy Kitty</td>
  	<td>Kinda Cute</td>
  </tr>
     <tr>
  	<td>3</td>
  	<td>Praying Kitty</td>
  	<td>Adorable!</td>
  </tr>
</tbody>
</table>
<div class="row">
  <div class="col-md-4"><img class="img-responsive" src="http://builds.happyfuncorp.com/Kittens/9.jpg"/></div>

  <div class="col-md-4"><img class="img-responsive" src="http://builds.happyfuncorp.com/Kittens/2.jpg"/></div>
  <div class="col-md-4"><img class="img-responsive" src="http://builds.happyfuncorp.com/Kittens/4.jpg"/></div>
</div>